
* {
    box-sizing: border-box;
}

body {
    font-family: 'FuturaPTWebBook', sans-serif;
    margin: 0;
}

h3, h2, h1 {
    margin: 0;
}

.container{
    max-width: 1152px;
    margin: 0 auto;
}

.header{
    padding: 30px 0;
}

.header__wrapper{
    display: flex;
    justify-content: space-between;
}

.header__list{
    display: flex;
    gap: 50px;
    align-items: center;
}

.header__item{
    color: #18191F;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
}

.header__logo{
    display: flex;
    align-items: center;
}

.header__buttons{
    display: flex;
    gap: 14px;
}

.header__signIn{
    border-radius: 6px;
    background: #4CAF4F;
    padding: 10px 20px;
    border: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; 
    color: #fff;
}

.header__login{
    color: #4CAF4F;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    border: none;
    background: none;
}

.menu{
    display: none;
}

.firstBlock{
    background: #F5F7FA;
    padding: 94px 0;
}

.firstBlock__wrapper{
    display: flex;
    gap: 104px;
}

.firstBlock__left{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.firstBlock__left > h1 {
    color: #4D4D4D;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 76px; 
}

.firstBlock__left > h1 > span {
    color: #4CAF4F;
}

.firstBlock__descr{
    color: #717171;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.firstBlock__btn{
    margin-top: 16px;
    border-radius: 6px;
    background: #4CAF4F;
    padding: 14px 32px;
    border: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; 
    color: #fff;
    width: 128px;
    height: auto;
    text-align: center;
}

.secondBlock{
    padding-top: 40px;
}

.secondBlock__title{
    color: #4D4D4D;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
    text-align: center;
}

.secondBlock__subtitle{
    margin-top: 8px;
    color: #717171;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

.secondBlock__items{
    height: 98px;
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.thirdBlock{
    padding: 0 0 48px 0;
}

.thirdBlock__wrapper{
    display: flex;
    justify-content: space-between;
    gap: 49px;
}

.thirdBlock__right{
    
    width: 661px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.thirdBlock__right > h2 {
    padding-right: 60px;
    margin: 0;
    margin-top: 82.5px;
    color: #4D4D4D;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
}

.thirdBlock__left{
    padding: 52px 0;
}


.thirdBlock__descr{
    padding-right: 60px;
    color: #717171;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.thirdBlock__btn{
    margin-top: 16px;
    border-radius: 6px;
    background: #4CAF4F;
    padding: 14px 32px;
    border: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; 
    width: 151px;
    color: #fff;
    text-align: center;
}

.fourthBlock{
    padding: 64px 0;
    background: #F5F7FA;
}

.fourthBlock__wrapper{
    display: flex;
    gap: 72px;
}

.fourthBlock__left{
    min-width: 540px;
    max-width: 540px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 14px 0;
}

.fourthBlock__left > h2 {
    color: #4D4D4D;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
}

.fourthBlock__left > h2 > span {
    display: block;
    color: #4CAF4F;
}

.fourthBlock__descr{
    color: #18191F;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.fourthBlock__right{
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    gap: 30px;
}

.fourthBlock__item{
    width: 255px;
    height: 60px;
    display: flex;
    gap: 16px;
    align-items: center;
}

.fifthBlock{
    padding: 48px 0 100px 0;
}

.fifthBlock__title{
    color: #4D4D4D;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
    text-align: center;
    margin-bottom: 8px;
}

.fifthBlock__subtitle{
    color: #717171;
    width: 628px;
    margin: 0 auto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

.fifthBlock__items{
    margin-top: 16px;
    display: flex;
    gap: 24px;
    justify-content: center;
}

.fifthBlock__item{
    position: relative;
    width: 368px;
    z-index: 0;
}

.fifthBlock__info{
    background-color: #F5F7FA;
    border-radius: 8px;
    position: absolute;
    bottom: -88px;
    left: 50%;
    transform: translatex(-50%);
    display: flex;
    flex-direction: column;
    padding: 17px;
    width: 317px;
    height: 176px;
    z-index: 1;
    align-items: center;
}

.fifthBlock__text{
    color: #717171;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    text-align: center;
}

.fifthBlock__link{
    margin-top: 16px;
    text-decoration: none;
    color: #4CAF4F;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px
}

.footer{
    background: #263238;
    padding: 64px 165px;
    display: flex;
    gap: 125px;
}

.footer__left{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.footer__rights{
    color: #F5F7FA;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.footer__socials{
    display: flex;
    gap: 16px;
}

.footer__right{
    display: flex;
    gap: 30px;
}

.footer__column{
    width: 160px;
    display: flex;
    flex-direction: column;
}

.footer__column > h3{
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 12px;
}

.footer__column > a{
    margin-top: 12px;
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    text-decoration: none;
}

.footer__column > form {
    position: relative;
}

.footer__column > form > input {
    padding: 10px 12px;
    margin-top: 24px;
    border-radius: 8px;
    opacity: 0.2;
    background: #FFF;
}
.footer__column > form > button {
    position: absolute;
    border: none;
    background: none;
    right: -30px;
    top: 33px;
}

.menu{
    display: none;
}

button:hover, a:hover{
    color: red;
}

.flex{
    display: flex;
}

.none{
    display: none;
}


@media (max-width: 320px) {
    .container{
        max-width: 300px;
    }

    .header__list{
        display: none;
    }

    .header__buttons{
        display: none;
    }

    .menuOpen{
        border: none;
        background: none;
        width: 50px;
        height: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        cursor: pointer;
    }

    .divider{
        background-color: #000;
        height: 1px;
        width: 100%;
    }

    .menu{
        position: relative;
        background-color: red;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        flex-direction: column;
        gap: 30px;
        padding-top: 20px;
        padding-left: 20px;
    }

    .menu__list{
        display: flex;
        gap: 30px;
        flex-direction: column;
    }

    .rl{
        width: 30px;
        transform: rotate(-45deg);
    }

    .rr{
        width: 30px;
        transform: rotate(45deg);
    }

    .menu__buttonClose{
        position: absolute;
        height: 30px;
        right: 15px;
        top: 30px;
    }

    .firstBlock__wrapper{
        display: flex;
        flex-direction: column;
    }

    .firstBlock__right > img{
        width: 300px;
        height: auto;
    }

    .firstBlock__left{
        align-items: center;
    }

    .firstBlock__left > h1{
        font-size: 36px;
        line-height: 38px;
        text-align: center;
    }

    .firstBlock__descr {
        text-align: center;
    }

    .secondBlock__items{
        flex-wrap: wrap;
        gap: 30px;
    }

    .thirdBlock__left > img{
        width: 300px;
    }

    .thirdBlock__wrapper{
        flex-direction: column;
    }

    .thirdBlock__right{
        width: 300px;
        align-items: center;
    }

    .thirdBlock__right > h2{
        font-size: 36px;
        width: 300px;
        padding: 0;
        text-align: center;
    }

    .thirdBlock__descr {
        padding-right: 10px;
        text-align: center;
    }

    .fourthBlock__left{
        max-width: 300px;
        min-width: 300px;
    }

    .fourthBlock__left > h2{
        font-size: 36px;
        text-align: center;
    }

    .fourthBlock__descr{
        text-align: center;
    }

    .fourthBlock__wrapper{
        flex-direction: column;
    }

    .fifthBlock__items{
        flex-direction: column;
        gap: 100px;
        align-items: center;
    }

    .fifthBlock__item{
        width: 300px;
    }

    .fifthBlock__img{
        width: 300px;
    }
    
    .fifthBlock__img > img{
        width: 300px;
    }

    .fifthBlock__subtitle{
        width: 300px;
    }

    .footer{
        padding: 30px;
        gap: 40px;
        flex-direction: column;
    }

    .footer__column:last-child{
        display: none;
    }
}